absl-py==1.2.0
adapt==0.4.1
alembic==1.4.3
aniso8601==8.0.0
apturl==0.5.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
astunparse==1.6.3
attrdict==2.0.1
attrs==21.4.0
backcall==0.2.0
bcrypt==3.1.7
beautifulsoup4==4.11.1
binwalk==2.2.0
bleach==5.0.0
blinker==1.4
blis==0.7.8
Boruta==0.3
boto3==1.13.9
botocore==1.16.26
Brlapi==0.7.0
cachetools==5.2.0
capstone==5.0.0rc2
catalogue==1.0.0
certifi==2020.11.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.1.0
click==7.1.2
cloudpickle==2.1.0
cmarkgfm==0.8.0
colorama==0.4.3
colored-traceback==0.3.0
colorlover==0.3.0
command-not-found==0.3
cryptography==2.8
cufflinks==0.17.3
cupshelpers==1.0
cvxopt==1.3.0
cycler==0.11.0
cymem==2.0.6
databricks-cli==0.17.0
dataset==1.3.1
dblatex===0.3.11py3
dbus-python==1.2.16
debugpy==1.6.0
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
distro==1.4.0
distro-info===0.23ubuntu1
docker==5.0.3
docutils==0.15.2
entrypoints==0.3
enum34==1.1.10
et-xmlfile==1.1.0
executing==0.8.3
fastjsonschema==2.15.3
Flask==1.1.2
Flask-Caching==1.8.0
flask-marshmallow==0.10.1
Flask-Migrate==2.5.3
flask-restx==0.5.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.3
flask-unsign==1.2.0
flatbuffers==1.12
fonttools==4.34.4
funcy==1.17
future==0.18.2
gast==0.4.0
gensim==3.8.3
gevent==20.9.0
gitdb==4.0.9
GitPython==3.1.27
google-auth==2.10.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.20
greenlet==1.1.2
grpcio==1.47.0
gunicorn==20.0.4
h5py==3.7.0
htmlmin==0.1.12
httplib2==0.14.0
idna==2.10
ImageHash==4.2.1
imbalanced-learn==0.7.0
importlib-metadata==4.12.0
iniconfig==1.1.1
intervaltree==3.1.0
ipykernel==6.13.0
ipython==8.3.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
isort==5.10.1
itsdangerous==1.1.0
jedi==0.18.1
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.1.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.3.1
jupyter-console==6.4.3
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
keras==2.9.0
Keras-Preprocessing==1.1.2
keyring==18.0.1
kiwisolver==1.4.4
kmodes==0.12.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
libclang==14.0.6
lightgbm==3.3.2
llvmlite==0.37.0
louis==3.12.0
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==3.4.1
MarkupSafe==2.1.1
marshmallow==2.20.2
marshmallow-sqlalchemy==0.17.0
matplotlib==3.5.2
matplotlib-inline==0.1.3
maxminddb==1.5.4
missingno==0.5.1
mistune==0.8.4
mlflow==1.27.0
mlxtend==0.20.0
multimethod==1.8
murmurhash==1.0.7
nbclient==0.6.3
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
netifaces==0.10.4
networkx==2.8.5
nltk==3.7
notebook==6.4.11
numba==0.54.1
numexpr==2.8.3
numpy==1.19.0
oauthlib==3.1.0
olefile==0.46
openpyxl==3.0.10
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.3
pandas-profiling==3.2.0
pandocfilters==1.5.0
paramiko==2.11.0
parso==0.8.3
passlib==1.7.2
pathlib2==2.3.7.post1
patsy==0.5.2
pbr==5.9.0
pexpect==4.6.0
phik==0.12.2
pickleshare==0.7.5
Pillow==7.0.0
plac==1.1.3
plotly==5.9.0
pluggy==1.0.0
plumbum==1.7.2
preshed==3.0.6
prometheus-client==0.14.1
prometheus-flask-exporter==0.20.3
prompt-toolkit==3.0.29
protobuf==3.19.4
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pwntools==4.8.0
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybluemonday==0.0.9
pycairo==1.16.2
pycaret==2.3.10
pycparser==2.21
pycups==1.9.73
pydantic==1.9.1
pydotplus==2.0.2
pyelftools==0.29
pygame==2.1.2
Pygments==2.12.0
PyGObject==3.36.0
PyJWT==1.7.1
pyLDAvis==3.3.1
pymacaroons==0.13.0
PyMySQL==0.9.3
PyNaCl==1.3.0
pynndescent==0.5.7
pyod==1.0.4
PyOpenGL==3.1.0
pyparsing==3.0.9
PyQt5==5.14.1
pyqtgraph==0.11.0rc0
pyRFC3339==1.1
pyrsistent==0.17.3
pyserial==3.5
PySocks==1.7.1
pytest==7.1.2
python-apt==2.0.0+ubuntu0.20.4.7
python-dateutil==2.8.2
python-debian===0.1.36ubuntu1
python-dotenv==0.13.0
python-editor==1.0.4
python-geoacumen-city==2022.2.15
python-ptrace==0.9.8
pytz==2020.4
PyWavelets==1.3.0
pyxdg==0.26
PyYAML==5.3.1
pyzmq==23.0.0
qtconsole==5.3.0
QtPy==2.1.0
querystring-parser==1.2.4
redis==3.5.2
regex==2022.7.25
reportlab==3.5.34
requests==2.28.1
requests-oauthlib==1.3.1
requests-unixsocket==0.2.0
ROPGadget==6.8
rpyc==5.2.3
rsa==4.9
s3transfer==0.3.3
scikit-learn==0.23.2
scikit-plot==0.3.7
scipy==1.5.4
seaborn==0.11.2
SecretStorage==2.3.1
Send2Trash==1.8.0
shap==0.41.0
simplejson==3.16.0
sip==4.19.21
six==1.16.0
sklearn==0.0
slicer==0.0.7
smart-open==6.0.0
smmap==5.0.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
spacy==2.3.7
SQLAlchemy==1.4.39
SQLAlchemy-Utils==0.36.6
sqlparse==0.4.2
srsly==1.0.5
ssh-import-id==5.10
stack-data==0.2.0
statsmodels==0.13.2
systemd-python==234
tabulate==0.8.10
tangled-up-in-unicode==0.2.0
tenacity==6.2.0
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado==0.15.0
testresources==2.0.1
textblob==0.17.1
thinc==7.4.5
threadpoolctl==3.1.0
tinycss2==1.1.1
tomli==2.0.1
torch==1.12.1
torchvision==0.13.1
tornado==6.1
tqdm==4.64.0
traitlets==5.2.1.post0
typing-extensions==4.3.0
ubuntu-advantage-tools==27.9
ubuntu-drivers-common==0.0.0
ufw==0.36
umap-learn==0.5.3
unattended-upgrades==0.1
unicorn==2.0.0
urllib3==1.25.11
visions==0.7.4
wadllib==1.3.3
wasabi==0.10.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.3
Werkzeug==1.0.1
widgetsnbextension==3.6.0
wordcloud==1.8.2.2
wrapt==1.14.1
WTForms==2.3.1
xgboost==1.6.1
xkit==0.0.0
yellowbrick==1.4
zipp==3.8.1
zope.event==4.5.0
zope.interface==5.2.0
